* {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

html {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

body {
	/* TODO: 어떤 코드가 들어가야 할까요? */

}
a {
 text-decoration: none;
 }
.header-top {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 150px;
padding-right: 150px;
background: #171B21;
display: flex;
position: relative;

}

.header-left{
display: flex;
flex-grow:1;

}
.button-this-repo{
 border: 0px;
 border-top-left-radius: 4px;
 border-bottom-left-radius: 4px;
 margin-top:5px;
 margin-bottom:5px;
 background-color:#404448;
 color:#BCBFB9;
}
.button-search{
border: 0px;
 border-top-right-radius: 4px;
 border-bottom-right-radius: 4px;
 margin-left: -1px;
  margin-top:5px;
  margin-bottom:5px;
  width: 200px;
   background-color:#404448;
   color:#838688;
}
.header-left-search{
display: flex;
margin-left:8px;
margin-right:20px;
}

.header-left-menus{
 display: flex;
 width: 350px;
 justify-content: space-between;
 padding-top: 10px;
}
.header-right{
 display: flex;
 width: 100px;
  justify-content: space-between;
  padding-top: 10px;
}
.header-links{

   font-weight: bolder;
   font-family: 굴림, gulim, sans-serif;
   font-size: 90%;
   color: white;
}
.main{

}
.main-header{
padding-left: 150px;
padding-right: 150px;
padding-top: 20px;
background-color: #FAFBFC;
}
.main-header-top
{
display: flex;
}
.main-header-left
{
display: flex;
flex-grow:1;
margin-top: 10px;
margin-bottom:10px;
}
.user-id{
font-family: 굴림, gulim, sans-serif;
margin-right:3px;
color:#2768CF;
}
.repo-name{
font-weight: bold;
font-family: 굴림, gulim, sans-serif;
margin-left:3px;
color:#2768CF;
}
.button-left{
line-height: 25px;
border-style: solid;
border-width:1px;
border-color: #C8CBCD;
border-top-left-radius: 3px;
 border-bottom-left-radius: 3px;
 margin-right:-2px;
background-color: #FAFBFC;

}
.button-right{
line-height: 25px;
border-style: solid;
border-width:1px;
border-color: #C8CBCD;
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
 margin-left: -2px;
background-color: #FAFBFC;
 padding-top:2px;
 padding-bottom:3px;
}
.main-header-menu-buttons{

}
/* TODO: 또 어떤 코드들이 들어가야 할까요? */
