.firstDesktop{
    width:50%;
    height:100vh;;
  
    background-image: url("./background.jpg");
    background-size: cover;
    border: 1px solid black;
   
}
.secondDesktop{
    width:50%;
    height:100vh;;
    background-image: url("./background.jpg");
    background-size: cover;
    border: 1px solid black;

}
.icon{
    width: 80px;
    height: 80px;
}
.monitor{
    display: flex;
	justify-content: flex-start;
}
html,body{
    width:100%;
    height:100%;
}